<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello GCS</title>
</head>
<body>
<h1>Hello</h1>

    <ul>
      <li><a href="{{  url_for('hello.put')  }}">PUT</a></li>
      <li><a href="{{  url_for('hello.get')  }}">GET</a></li>
    </ul>

</body>
</html>
